<link rel="stylesheet" type="text/css" href="../static/css/style.css">

<div class="nav-bar">
    {% if not request.session.loggedIn %}
    <a href="/register">Register</a> |
    <a href="/login">Login</a>
    {% else %}
    <a href="#" onclick="document.getElementById('logoutForm').submit();">Logout</a>
    <form id="logoutForm" action="/logout" method="post" style="display: none;"></form>
    {% endif %}

    <p><a href="/fitness-classes">Fitness Classes</a></p>
    <p><a href="/user-classes/selected">Your Classes</a></p>

    <script>
        document.getElementById("langSelect").addEventListener("change", function () {
            const selectedLang = this.value;
            const url = new URL(window.location.href);
            url.searchParams.set("lang", selectedLang);
            window.location.href = url.toString();
        });
    </script>
</div>
