<!DOCTYPE html>
<html lang="en">
<head>
    <title>Purchased Classes</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
<div class="container">
    {% include "headerView.html" %}
    <h1>Your Classes In Processing</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for pendingClass in pendingClasses %}
        <tr>
            <td>{{ pendingClass.name }}</td>
            <td>{{ pendingClass.price }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <p class="center"><a href="/fitness-classes">View other classes</a></p>
</div>
</body>
</html>