<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
<div class="container">
    {% include "headerView.html" %}
    <form class="styled-form" action="/register" method="POST" enctype="multipart/form-data">
        <h2>{{ registrationTitle }}</h2>

        <label>{{ registrationUsername }}
            <input type="text" id="username" name="username"
                   value="{{ bean.username | default() }}"
            class="{% if errors.username %}error-input{% endif %}"
            required>
            <span class="err">{{ errors.username | default("") }}</span>
        </label>

        <label>{{ registrationPassword }}
            <input type="password" id="password1" name="password1"
                   class="{% if errors.password1 %}error-input{% endif %}"
                   required>
            <span class="err">{{ errors.password1 | default("") }}</span>
        </LAbel>

        <label>{{ registrationRepeatPassword }}
            <input type="password" id="password2" name="password2"
                   class="{% if errors.password2 %}error-input{% endif %}"
                   required>
            <span class="err">{{ errors.password2 | default("") }}</span>
        </label>

        <label>{{ registrationFullName }}
            <input type="text" id="name" name="name"
                   value="{{ bean.name | default() }}"
            class="{% if errors.name %}error-input{% endif %}"
            required>
            <span class="err">{{ errors.name | default("") }}</span>
        </label>

        <label>{{ registrationEmail }}
            <input type="text" id="email" name="email"
                   value="{{ bean.email | default() }}"
            class="{% if errors.email %}error-input{% endif %}"
            required>
            <span class="err">{{ errors.email | default("") }}</span>
        </label>

        <label>{{ registrationAdvertisement }}
            <input type="checkbox" name="advert" value="yes"
                   {% if bean.advert %}checked{% endif %}>
        </label>

        <button class="styled-button" type="submit">
            {{ registrationSubmit }}
        </button>

        <p style="text-align:center; margin-top: 20px;">
            {{ registrationQuestion }}
            <a href="/login">{{ registrationLogin }}</a>
        </p>
    </form>
</div>
</body>
</html>